<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet"  href="/css/styles.css"> <! __ here we have written /css/style.css as in the app.js file we are already in the public folder__>
    </head>
    <body>
        <div class="main-content">

        {{>header}}  <! __ this is header partial from header.hbs __>
        <p>This site was created by Dipanshu Bahuguna.It uses data from mapbox.com and openweathermap.org</p>
        <img class = "potrait" src = "/images/images.jpg">
        </div>
        {{>footer}}  <! __ this is footer partial from footer.hbs __>

    </body>
</html>